<!--This gets the Array of Question objects, @questions from our controller -->
<!--This then loops through the Objects to show the first question to our user
and hides the rest for us using "show/hide" classes in CSS. -->
<% @questions.each_with_index do |question, x| %>
  <% if x == 0 %>
  <%  @class = "show" %>
  <% else %>
  <%  @class = "hide"%>
  <% end %>
  <div id="question<%= question.id %>" class="questions <%= @class %>">
    <div class="display-question">
      <p><%= question.question %></p>
    </div>
    <div class="choices">  
      <ol>
        <% question.choices.each do |choice| %>
          <li><%= choice["choice"] %></li>
        <% end %>
      </ol>
    </div>
    <div class="answer"><%= question.get_answer_index %></div>
  </div>
<% end %>
<!--These are the buttons and input fields to get the user's answers, and run our quiz code -->
<input type="text" id="answer"></input>
<button id="submitter" type="button">That's my guess!</button>
</div>
<div id="question_result"></div>
<button id="next" type="button">Next question</button>
<div id="total_result"></div>